@use "../setting/setting";

.c-topHeading{
  span{
    font-size: 44px;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    margin-top: 16px;
    letter-spacing: .02em;
    position: relative;
    color: setting.$color-main;

    &:before{
      position: absolute;
      content: '';
      bottom: -4px;
      left: -10px;
      width: 24px;
      height: 24px;
      background: setting.$color-accent;
      z-index: -1;
    }

    &:after{
      position: absolute;
      content: '';
      top: 50%;
      right: -64px;
      transform: translateY(-50%);
      width: 48px;
      height: 1px;
      background: setting.$color-main;
      z-index: -1;
    }
  }

  h2{
    font-size: 18px;
    margin-top: 12px;
  }
}

@media (min-width: 1024px){
  .c-topHeading{
    span{
      font-size: 68px;

          &:before{

      bottom: 10px;
      left: -14px;
      width: 28px;
      height: 28px;

    }
    }

    h2{
      font-size: 24px;
    }
  }
}