@use "../setting/setting";

.p-topAbout{
  padding: 40px 0;
}

.p-topAbout__lead{
  margin-top: 20px;
  text-align: justify;
}

.p-topAbout__texts{
  margin-bottom: 40px;
}

.p-topAbout__img{
  position: relative;

  &:before{
    position: absolute;
    content: '';
    bottom: -32px;
    right: 10px;
    width: 144px;
    height: 144px;
    background: url('../images/top/rectangle-blue.png')no-repeat center center/contain;
    z-index: 2;
  }

  &:after{
    position: absolute;
    content: '';
    bottom: 44px;
    right: -14px;
    width: 84px;
    height: 64px;
    background: url('../images/top/rectangle-gold.png')no-repeat center center/contain;
    z-index: 1;
  }
}

@media (min-width: 768px){
  .p-topAbout__contents{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .p-topAbout__texts{
    width: 48%;
  }

  .p-topAbout__img{
    width: 52%;
  }
}

@media (min-width: 1024px){
  .p-topAbout{
    padding: 88px 0;
  }

  .p-topAbout__texts{
    width: 40%;
  }

  .p-topAbout__img{
    height: 480px;
    width: 58%;

    img{
      height: 100%;
      object-fit: cover;
      overflow: visible;
    }

    &:before{
    bottom: -62px;
    right: -48px;
    width: 344px;
    height: 344px;
  }

  &:after{
    bottom: 104px;
    right: -84px;
    width: 184px;
    height: 184px;
  }
  }
}