@use "../setting/setting";

.p-topService{
  padding: 80px 0 40px;
  background: #CFCFCF;
}

.p-topService__heading{
  text-align: center;

  span{
    font-size: 44px;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    margin-top: 16px;
    letter-spacing: .02em;
    position: relative;
    color: setting.$color-main;
    z-index: 2;

    &:before{
      position: absolute;
      content: '';
      bottom: -4px;
      left: -10px;
      width: 24px;
      height: 24px;
      background: setting.$color-accent;
      z-index: -1;
    }

    &:after{
      position: absolute;
      content: '';
      position: absolute;
      top: -48px;
      left: 50%;
      transform: translateX(-50%);
      width: 1px;
      height: 48px;
      background: setting.$color-main;
    }
  }

  h2{
    font-size: 18px;
  }
}

.p-topService__lead{
  margin: 16px auto 0;
  max-width: 600px;
  text-align: justify;
}

.p-topService__items{
  margin-top: 20px;
}

.p-topService__item{
  background: #575A5F;
  padding: 12px 20px;
  margin-bottom: 8px;
  position: relative;
  display: flex;
  color: #fff;
  gap: 24px;
  border-left: 12px solid;
  border-image: linear-gradient(to bottom, #12479C, #00A7E5) 1;


  img{
    width: 32px;
  }
}

.p-topService__texts{
  h3{
    font-size: 16px;
  }

  p{
    font-size: 14px;
    text-align: justify;
    margin-top: 4px;
  }
}

@media (min-width: 768px){
  .p-topService__items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .p-topService__item{
    width: 48%;
  }

}

@media (min-width: 1024px){
  .p-topService{
    position: relative;
    padding: 108px 0 88px;


    &:before{
      position: absolute;
      content: '';
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 500px;
      height: 640px;
      background: url(../images/top/topService.png) no-repeat center center/contain;
    }

  }

  .p-topService__heading{
    span{
      font-size: 68px;
    }

    h2{
      font-size: 24px;
    }
  }

  .p-topService__items{
    margin-top: 44px;
  }

  .p-topService__item{
    width: 32%;
    margin-bottom: 24px;
  }
}